<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-slider.min.css"/>
    <script defer src="scripts/fa-all.js"></script>
    <style>
        .slider-selection, .slider-track {
            background: #BABABA;
        }

        input, select {
            min-width: 75px;
        }

        textarea {
            resize: none;
        }
    </style>
    <title>Camera Interface</title>

</head>
<body>
<div class="row">
    <div class="col-xl-2 col-lg-2">
    </div>
    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col">
                <div class="input-group input-group-sm">
                        <span class="input-group-addon justify-content-center" style="width:25%;">
                            <select id="mode-input" class="custom-select">
                                <option value="P">P</option>
                                <option selected value="auto">auto</option>
                                <option value="off">off</option>
                            </select>
                            <select id="res-input" class="custom-select">
                                <option value="1">2592x1944</option>
                                <option selected value="2">1620x1232</option>
                                <option value="3">1296x972</option>
                                <option value="4">640x480</option>
                            </select>
                        </span>
                    <span class="input-group-addon justify-content-center" style="width:35%;">
                            <input id="wb-red-input" class="form-control" aria-label="Red level value" value="10"
                                   type="number" min="5" max="29">
                            <select id="wb-input" class="custom-select">
                                <option selected value="auto">auto</option>
                                <option value="sunlight">sunlight</option>
                                <option value="cloudy">cloudy</option>
                                <option value="tungsten">tungsten</option>
                                <option value="shade">shade</option>
                                <option value="off">off</option>
                            </select>
                            <input id="wb-blue-input" class="form-control" aria-label="Blue level value" value="10"
                                   type="number" min="5" max="29">
                        </span>
                    <span class="input-group-addon justify-content-center" style="width:30%;">
                             <div class="btn-group" data-toggle="buttons">
                                  <label class="btn btn-outline-info">
                                    <input id="ftp-input" type="checkbox" autocomplete="off"> FTP
                                  </label>
                                  <label class="btn btn-outline-info">
                                    <input id="hg-input" type="checkbox" autocomplete="off"> HG
                                  </label>
                                  <label class="btn btn-outline-info">
                                    <input id="dp-input" type="checkbox" autocomplete="off"> DP
                                  </label>
                            </div>
                        </span>
                    <span class="input-group-addon justify-content-center" style="width:10%;">
                            <a href="#" id="switchoff"><i class="fas fa-camera-retro" aria-hidden="true"
                                                          style="font-size: 2rem;"></i></a>
                        </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="preview" class="col-9 pr-0">
                <img id="preview-img" class="img-fluid text-center" src="{{ url_for('video_feed') }}">
            </div>
            <div class="col-3 pl-0">
                <div class="input-group">
                    <span class="input-group-addon input-group-sm" style="min-width:70px; text-align:left;">ISO</span>
                    <select id="iso-input" class="custom-select" aria-describedby="iso-input" style="width: 100%;">
                        <option selected value="0">auto</option>
                        <option value="100">100</option>
                        <option value="200">200</option>
                        <option value="400">400</option>
                        <option value="800">800</option>
                    </select>
                </div>
                <div class="input-group">
                    <span class="input-group-addon input-group-sm" style="min-width:70px; text-align:left;">EXP</span>
                    <input id="exp-input" type="number" class="form-control" aria-describedby="exp-input" value="-1"
                           min="-25" max="25">
                </div>
                <div class="input-group">
                    <span class="input-group-addon input-group-sm" style="min-width:70px; text-align:left;">Contr</span>
                    <input id="contr-input" type="number" class="form-control" aria-describedby="contr-input" value="-2"
                           min="-25" max="25">
                </div>
                <div class="input-group">
                    <span class="input-group-addon input-group-sm" style="min-width:70px; text-align:left;">DRC</span>
                    <select id="drc-input" class="custom-select" aria-describedby="drc-input" style="width: 100%;">
                        <option selected value="high">high</option>
                        <option value="low">low</option>
                        <option value="off">off</option>
                    </select>
                </div>
                <div class="input-group mt-3">
                    <button id="btn-plus" type="button" class="btn btn-outline-info" style="width: 36px;">+</button>
                    <input id="shutter" type="text" class="form-control text-center" aria-describedby="contr-input"
                           readonly>
                    <button id="btn-minus" type="button" class="btn btn-outline-info" style="width: 36px;">-</button>
                </div>
                <button id="btn-sauto" type="button" class="btn btn-outline-info" style="width: 100%;">Shutter (auto)
                </button>
                <div class="container text-center">
                    <div class="btn-group mt-3" role="group" aria-label="Modes">
                        <div  id="presets" class="btn-group" role="group" aria-label="Presets">
                            <button type="button" class="btn btn-outline-info"><i class="fas fa-sliders-h"
                                     aria-hidden="true" style="font-size: 1.2rem;"></i></button>
                        </div>
                        <div id="settings" class="btn-group" role="group" aria-label="Settings">
                            <button type="button" class="btn btn-outline-info"><i class="fas fa-cog" aria-hidden="true"
                                                                                  style="font-size: 1.2rem;"></i></button>
                        </div>
                        <div id="schedule" class="btn-group" role="group" aria-label="Schedule">
                            <button type="button" class="btn btn-outline-info"><i class="far fa-clock" aria-hidden="true"
                                                                                  style="font-size: 1.2rem;"></i></button>
                        </div>
                        <div id="network" class="btn-group" role="group" aria-label="Network settings">
                            <button type="button" class="btn btn-outline-info"><i class="fas fa-wifi" aria-hidden="true"
                                                                                  style="font-size: 1.2rem;"></i></button>
                        </div>
                    </div>
                    <div class="btn-group mt-1" role="group" aria-label="Modes2" style="width: 100%;">
                        <div id="btn-F1" class="btn-group" role="group" aria-label="F1" style="width: 50%;">
                            <button type="button" class="btn btn-outline-info btn-block">F1</button>
                        </div>
                        <div id="btn-F4" class="btn-group" role="group" aria-label="F4" style="width: 50%;">
                            <button type="button" class="btn btn-outline-info btn-block">F4</button>
                        </div>
                    </div>
                </div>
                <br>
                <h4 class="text-center"><span id="lc-info" class="badge badge-info"></span></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-5 pr-0">
                <label>
                    <span class="badge badge-info">Zoom</span>&nbsp;<input id="ex1" data-slider-id='ex1Slider'
                                                                           type="number"
                                                                           data-slider-min="20"
                                                                           data-slider-max="100"
                                                                           data-slider-step="5"
                                                                           data-slider-value="100"/>
                </label>
            </div>
            <div class="col-4 pr-1">
                <label class="float-right">
                    <span class="badge badge-info">L</span>&nbsp;<input id="ex2" data-slider-id='ex1Slider' type="text"
                                                                        data-slider-min="-50" data-slider-max="50"
                                                                        data-slider-step="1" data-slider-value="0"/>&nbsp;
                    <span class="badge badge-info">R</span>
                </label>
            </div>
            <div class="col-3 pl-0">
                 <div class="btn-toolbar justify-content-center" role="toolbar" aria-label="Cameras">
                    <div id="btn-L" class="btn-group mr-1" role="group" aria-label="Left">
                        <button type="button" class="btn btn-info" style="width: 37px;">L</button>
                    </div>
                    <div id="btn-D" class="btn-group mr-1" role="group" aria-label="D">
                        <button type="button" class="btn btn-info" style="width: 37px;">D</button>
                    </div>
                    <div id="btn-C" class="btn-group mr-1" role="group" aria-label="Center">
                        <button type="button" class="btn btn-info" style="width: 37px;">C</button>
                    </div>
                    <div id="btn-R" class="btn-group mr-1" role="group" aria-label="Right">
                        <button type="button" class="btn btn-info" style="width: 37px;">R</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-9 pr-0">
                <p id="status" class="mt-1" style="background-color: #A0CEDE"></p>
            </div>
            <div class="col-3 pl-0">
                <p id="status-time" class="mt-1 text-right" style="background-color: #A0CEDE"></p>
            </div>
        </div>
        <div class="row">
            <div id="mesg" class="col"></div>
        </div>
    </div>
</div>

{% include 'modals.html' %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="scripts/jquery-3.2.1.min.js"></script>
<script src="scripts/popper.min.js"></script>
<script src="scripts/bootstrap.min.js"></script>
<script src="scripts/bootstrap-slider.min.js"></script>
<script src="scripts/jquery.mask.js"></script>
<script src="scripts/{{ rnd }}"></script>
</body>
</html>
