<!-- Modal, Camera button -->
<div class="modal fade" id="switchoff-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Please confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="display-4 text-center">Switch OFF?</p>
            </div>
            <div class="modal-footer">
                <button id="switchoff-btn" type="button" class="btn btn-danger">YES</button>
                <button id="exit-btn" type="button" class="btn btn-warning">Server</button>
                <button id="restart-btn" type="button" class="btn btn-warning">RESTART</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal, Settings button -->
<div class="modal fade" id="settings-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Settings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label for="ftpHost">FTP Host:</label>
                                <input type="text" class="form-control" id="ftpHost" placeholder="ftp.example.com">
                            </div>
                            <div class="col">
                                <label for="ftpPath">FTP Path:</label>
                                <input type="text" class="form-control" id="ftpPath" placeholder="/pub/user">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="ftpUser">FTP User:</label>
                                <input type="text" class="form-control" id="ftpUser" placeholder="jondoe">
                            </div>
                            <div class="col">
                                <label for="ftpPass">FTP Password:</label>
                                <input type="password" class="form-control" id="ftpPass" placeholder="type in password">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group">
                                    <input type="checkbox" class="form-check-input" id="ftpFiles">
                                    Send source files with pano together
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="huginTemplate">Hugin template:</label>
                        <textarea class="form-control noresize" id="huginTemplate" rows="10"
                                  maxlength="10000"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="passwordField">Password:</label>
                        <input type="password" class="form-control" id="passwordField" placeholder="type in password">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="save-settings-btn" type="button" class="btn btn-danger">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal, Presets button -->
<div class="modal fade" id="presets-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Presets</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <select id="preset-select" class="custom-select" aria-describedby="preset-input" style="width: 80%"
                        disabled>
                    <option value="not_found">Presets not found</option>
                </select>
                <button type="button" class="btn btn-primary float-right" id="load-preset-btn">Load</button>
                <input type="text" id="preset-name" class="form-control mt-3" style="width: 80%; display: inline-block;"
                       placeholder="enter new preset name here">
                <button type="button" class="btn btn-dark float-right mt-3" id="save-preset-btn">Save</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal, Schedule button -->
<div class="modal fade" id="schedule-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Schedule</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <form class="form-inline justify-content-center">
                            <div class="form-group">
                                <label class="mr-1" for="from-hour">From:</label>
                                <input type="text" id="from-hour" class="form-control"
                                       style="width: 36px; display: inline-block;">
                            </div>
                            <div class="form-group ml-3">
                                <label class="mr-1" for="to-hour">To:</label>
                                <input type="text" id="to-hour" class="form-control"
                                       style="width: 36px; display: inline-block;">
                            </div>
                            <div class="form-group ml-3">
                                <label class="mr-1" for="interval">Interval:</label>
                                <input type="text" id="interval" class="form-control"
                                       style="width: 36px; display: inline-block;">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        <form class="form-inline justify-content-center">
                            <div class="form-group">
                                <label class="mr-1" for="fake-from-hour">From:</label>
                                <input type="text" id="fake-from-hour" class="form-control"
                                       style="width: 36px; display: inline-block;" readonly="true">
                            </div>
                            <div class="form-group ml-3">
                                <label class="mr-1" for="fake-to-hour">To:</label>
                                <input type="text" id="fake-to-hour" class="form-control"
                                       style="width: 36px; display: inline-block;" readonly="true">
                            </div>
                            <div class="form-group ml-3">
                                <label class="mr-1" for="interval2">Interval:</label>
                                <input type="text" id="interval2" class="form-control"
                                       style="width: 36px; display: inline-block;">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="save-schedule-btn" type="button" class="btn btn-danger">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal, Network button -->
<div class="modal fade" id="network-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Network settings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-pills" id="network-settings-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="network-tab" data-toggle="tab" href="#network-page" role="tab"
                           aria-controls="home" aria-selected="true">Wired network</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="wifi-tab" data-toggle="tab" href="#wifi-page" role="tab"
                           aria-controls="profile" aria-selected="false">WiFi</a>
                    </li>
                </ul>
                <div class="tab-content" id="network-settings-tab-contents">
                    <div class="tab-pane fade show active" id="network-page" role="tabpanel"
                         aria-labelledby="network-tab">
                        <form class="justify-content-left">
                            <div class="row mt-4">
                                <div class="col-4">
                                    <label class="mr-1" for="address">Address<span style="color: red;">*</span>:</label>
                                </div>
                                <div class="col-8">
                                    <input type="text" id="address" class="form-control ip_address"
                                           style="width: 240px; display: inline-block;">
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-4">
                                    <label class="mr-1" for="netmask">Network mask<span style="color: red;">*</span>:</label>
                                </div>
                                <div class="col-8">
                                    <input type="text" id="netmask" class="form-control ip_address"
                                           style="width: 240px; display: inline-block;">
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-4">
                                    <label class="mr-1" for="gateway">Gateway<span style="color: red;">*</span>:</label>
                                </div>
                                <div class="col-8">
                                    <input type="text" id="gateway" class="form-control ip_address"
                                           style="width: 240px; display: inline-block;">
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-4">
                                    <label class="mr-1" for="dns">DNS<span style="color: red;">*</span>:</label>
                                </div>
                                <div class="col-8">
                                    <input type="text" id="dns" class="form-control ip_address"
                                           style="width: 240px; display: inline-block;">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="wifi-page" role="tabpanel" aria-labelledby="wifi-tab">
                        <form class="justify-content-left">
                            <div class="row mt-4">
                                <div class="col-4">
                                    <label class="mr-1" for="ssid">SSID<span style="color: red;">*</span>:</label>
                                </div>
                                <div class="col-8">
                                    <input type="text" id="ssid" class="form-control"
                                           style="width: 240px; display: inline-block;">
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-4">
                                    <label class="mr-1" for="wifipass">Password:</label>
                                </div>
                                <div class="col-8">
                                    <input type="password" id="wifipass" class="form-control"
                                           style="width: 240px; display: inline-block;">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="save-network-btn" type="button" class="btn btn-danger">Save</button>
                <button id="restart-btn" type="button" class="btn btn-warning">RESTART</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
